@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
main {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 2%;
  background-image: linear-gradient(
    to bottom right,
    #4affde 0%,
    #5b9dff 40%,
    #d06bff 60%,
    #ff34d2 100%
  );
  background-size: 200% 200%;
  animation: movingGradient 5s linear infinite alternate;
}
div {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
  background-color: #d645d6;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  margin-top: 25px;
  box-shadow: 6px 0 10px 0 rgba(101, 102, 104, 0.4);
  background: -webkit-linear-gradient(top, #d645d6 0%, #c7d2e4 100%);
  background: -moz-linear-gradient(top, #d645d6 0%, #c7d2e4 100%);
  background: linear-gradient(top, #d645d6 0%, #c7d2e4 100%);
}
a:hover {
  background-color: #8ba4c9;
  background: -webkit-linear-gradient(bottom, #d645d6 0%, #c7d2e4 100%);
  background: -moz-linear-gradient(bottom, #d645d6 0%, #c7d2e4 100%);
  background: linear-gradient(bottom, #d645d6 0%, #c7d2e4 100%);
}
@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
